*{
	padding: 0;
	margin: 0;
}
p{
	text-align: start;
}
h1{
	text-align: center;
	/* text-decoration: overline;
	text-decoration: underline;
	text-decoration: underline red;
	text-decoration: overline wavy lime;
	text-decoration: none;
	text-decoration: line-through;
	text-decoration: dashed underline overline line-through;
	text-decoration: solid underline purple 6px;
	text-decoration: blink; */
	font-family:sans-serif;
}