 .column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
        }
.row {
    background-color: lightgray;
    margin-bottom: 15px;
    padding: 15px;
    height: 100px;
        }
.container::after {
    content: "";
    display: table;
    clear: both;
        }

.left-column .row:nth-child(even) {
       background-color: lightblue;
        }
.right-column .row:nth-child(even) {
      background-color: lightgreen;
        }